.general-background{
    background:linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
}
.login2-background{
    max-width: 37.5rem;
    margin: auto;
    background: transparent;

    padding-top: 8rem;
    
    position: relative;
}
.login2-background img{
    width: 30rem;
    height: 12rem;

    position:absolute;
    right: 3.8rem;


}
.login2-formulario{
    background-color: white;
    border-radius: 4rem 4rem 0rem 0rem;
    max-width: auto;

}
.login2-formulario h2{
    color: var(--gris4);
    font-size: var(--h1);
    font-weight: 600;
}
.login2-formulario span{
    font-size: 2rem;
    font-weight: 0; 
    color: var(--gris5);

}
.formulario{
    margin: auto;
    width: 31.5rem;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}
.formulario-label{
    font-size: 1.2rem;
    color: var(--gris3);
    margin-bottom: 3.5rem;

    display: flex;
    flex-direction: column;
}
.formulario-label input{
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid var(--gris3);
    outline: none;
    font-size: 1.6rem;
}
.formulario button{
    
    cursor: pointer;
    width: 31.5rem;
    height: 5.4rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;

    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.formulario button img{
    width: 2.5rem;
    position:absolute;
    right: 2.8rem;
    height: auto;
}
.formulario-mensaje{
    align-self: flex-end;
    font-size: var(--parrafo);
    margin-top: 3rem;
}